@using ClinicManagement.Menu
@inject AdminSidebarService _AdminSidebarService
@* @model ClinicManagement.Models.Patient *@
@model ClinicManagement.Controllers.PatientController.PatientAddress

@{
    ViewData["Title"] = "Thêm mới bệnh nhân";
}
<partial name="_StatusMessage" />


<div class="card-header bg-success text-uppercase text-white text-center mb-2 pb-4" style="height: 25px;">
    <h6>@ViewData["Title"]</h6>
</div>

<form asp-action="Create">
    <div class="row col-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-2">
                <label asp-for="@Model.Patient.FName" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input asp-for="@Model.Patient.FName" class="form-control" />
                <span asp-validation-for="@Model.Patient.FName" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

             <div class="form-group col-2">
                <label asp-for="@Model.Patient.LName" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input asp-for="@Model.Patient.LName" class="form-control" />
                <span asp-validation-for="@Model.Patient.LName" class="text-danger"></span>
            </div>

            <div class="form-group col-2">
                <label asp-for="@Model.Patient.Age" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input type="number" asp-for="@Model.Patient.Age" class="form-control" />
                <span asp-validation-for="@Model.Patient.Age" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

             <div class="form-group col-2">
                <label asp-for="@Model.Patient.Phone" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input asp-for="@Model.Patient.Phone" class="form-control" />
                <span asp-validation-for="@Model.Patient.Phone" class="text-danger"></span>
            </div>

             <div class="form-group col-2">
                <label asp-for="@Model.Patient.Email" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input asp-for="@Model.Patient.Email" class="form-control" />
                <span asp-validation-for="@Model.Patient.Email" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>


            <div class="form-group col-2">
                <label asp-for="@Model.Patient.GenderID" class="control-label"></label>
            </div>
             <div class="form-group col-3">
                <select asp-for="@Model.Patient.GenderID" class ="form-control" asp-items="ViewBag.GenderID"></select>
            </div>
            <div class="form-group col-2">
                <label asp-for="@Model.Patient.BloodGroupID" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="@Model.Patient.BloodGroupID" class ="form-control" asp-items="ViewBag.BloodGroupID"></select>
            </div>
            <div class="form-group col-7"></div>


<div class="card-header bg-warning text-uppercase text-white text-center mb-2 pb-4 col-12" style="height: 25px;">
    <h7>Thông tin địa chỉ bệnh nhân</h7>
</div>

            <div class="form-group col-2">
                <label asp-for="@Model.Street" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input id="streetid" name="Street" asp-for="@Model.Street" class="form-control" />
                <span asp-validation-for="@Model.Street" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

             <div class="form-group col-2">
                <label asp-for="@Model.city" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input id="cityid"  name="City" asp-for="@Model.city" class="form-control" />
                <span asp-validation-for="@Model.city" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="@Model.province" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input id="provinceid" asp-for="@Model.province" class="form-control" />
                <span asp-validation-for="@Model.province" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

             <div class="form-group col-2">
                <label asp-for="@Model.Post_Code" class="control-label"></label>                
            </div>
            <div class="form-group col-3">
                <input id="postcodeid" asp-for="@Model.Post_Code" class="form-control" />
                <span asp-validation-for="@Model.Post_Code" class="text-danger"></span>
            </div>

<div class="col-12">

</div>            
           
             <div class="form-group btn-group col-12">
                <div class="col-1"></div>
                <div class="col-5">
                <input type="submit" value="Thêm mới" class="btn btn-primary btn-block" />
                </div>
                <div class="col-5">
                 <a class="btn btn-secondary btn-block" asp-action="index"
                   asp-route-pg="@TempData.Peek("CurrentPage")">danh sách bệnh nhân</a>
                </div>
            </div>
           
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
