@using ClinicManagement.Menu
@inject AdminSidebarService _AdminSidebarService
@model ClinicManagement.Models.Patient

@{
    ViewData["Title"] = "Chi tiết bệnh nhân";
}


<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registed_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registed_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boolGroup.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boolGroup.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address.Street)
        </dd>
    </dl>
</div>
<div>
   <div class="btn-group">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Chỉnh sửa</a>
    <a class="btn btn-secondary" asp-action="index"
       asp-route-pg="@TempData["CurrentPage"]">Danh sách bệnh nhân</a>    
</div>
</div>

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
