@using ClinicManagement.Menu
@inject AdminSidebarService _AdminSidebarService
@model ClinicManagement.Models.prescriptions

@{
    ViewData["Title"] = "Thêm mới đơn thuốc";
    int Countnumber=1;
}
<partial name="_StatusMessage" />


<div class="card-header bg-success text-uppercase text-white text-center mb-2 pb-4" style="height: 25px;">
    <h6>@ViewData["Title"]</h6>
</div>

<form id="CodeSbyAnizForm" asp-action="Create">

    <div class="row col-12">
        <div class="col-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="@Model.PatientID" class="control-label"></label>
                </div>
                <div class="form-group col-8">
                    <select asp-for="@Model.PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="@Model.Doctor.FullName" class="control-label"></label>
                </div>
                <div class="form-group col-8">
                    <select asp-for="@Model.DoctorID" class="form-control" asp-items="ViewBag.DoctorID"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="@Model.NextVisit" class="control-label"></label>
                </div>
                <div class="form-group col-8">
                    <input asp-for="@Model.NextVisit" class="form-control" />
                    <span asp-validation-for="@Model.NextVisit" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="@Model.advice" class="control-label"></label>
                </div>
                <div class="form-group col-8">
                    <textarea rows="5" asp-for="@Model.advice" class="form-control"></textarea>
                    <span asp-validation-for="@Model.advice" class="text-danger"></span>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-2">
                    <label asp-for="@Model.Note" class="control-label"></label>
                </div>
                <div class="form-group col-8">
                    <textarea rows="3" asp-for="@Model.Note" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Note" class="text-danger"></span>
                </div>
            </div>





        </div>
        <div class="col-6">
           <div class="row">
                <table id="codetable" class="table-bordered table-sm mb-0 pb-0">
                    <thead class="bg-warning">
                        <tr>
                            <th>
                                STT
                            </th>
                             <th style="width: 200px;">
                                Tên thuốc
                            </th>
                             <th>
                                Số Ngày uống
                            </th>
                             <th>
                                Thời gian uống
                            </th>
                             <th>
                                Uống trước ăn?
                            </th>                             
                             <th style="width: 60px;">
                                <button id="btnAddDetailRow" type="button" class="btn btn-sm btn-success visible" onclick="AddItem(this)">Thêm</button>
                                </th>
                        </tr>
                        <tbody>
                            @* @foreach (PrescriptionsDetail item in @Model.PrescriptionsDetail)
                            {
                                Countnumber++;
                                <tr>
                                    <td>
                                        <label asp-for="@item.CountNum" class="control-label">@Countnumber</label>
                                    </td>
                                    <td>
                                     <select asp-for="@item.MedicinesID" class="form-control w-180" asp-items="ViewBag.MedicinesID"></select>
                                    </td>
                                    <td>
                                        <input asp-for="@item.No_of_day" class="form-control w-60" />
                                        <span asp-validation-for="@item.No_of_day" class="text-danger"></span>
                                    </td>
                                     <td>
                                     <select asp-for="@item.When_To_Take" class="form-control" asp-items="ViewBag.When_To_Take"></select>
                                    </td>
                                    <td>
                                        <input asp-for="@item.is_Before_Meal" class="form-control" />
                                    </td>
                                    <td style="width:60px ;">
                                        <button id="btnremove-@Countnumber" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">Xóa</button>
                                    </td>
                                </tr>
                            } *@
                            @for (int i = 0; i < @Model.PrescriptionsDetail.Count; i++)                         
                            //@foreach (PrescriptionsDetail item in @Model.PrescriptionsDetail)
                            {
                                Countnumber++;
                                <tr>
                                    <td>
                                        @* <input type="hidden" asp-for="@Model.PrescriptionsDetail[i].ID" /> *@
                                        <label asp-for="@Model.PrescriptionsDetail[i].CountNum" class="control-label" aria-valuetext="@Countnumber"></label>
                                    </td>
                                    <td>
                                     <select asp-for="@Model.PrescriptionsDetail[i].MedicinesID" class="form-control w-180" asp-items="ViewBag.MedicinesID"></select>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.PrescriptionsDetail[i].No_of_day" class="form-control w-60" />
                                        <span asp-validation-for="@Model.PrescriptionsDetail[i].No_of_day" class="text-danger"></span>
                                    </td>
                                     <td>
                                     <select asp-for="@Model.PrescriptionsDetail[i].When_To_Take" class="form-control" asp-items="ViewBag.When_To_Take"></select>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.PrescriptionsDetail[i].is_Before_Meal" class="form-control" />
                                    </td>
                                    <td style="width:60px ;">
                                        <button id="btnremove-@Countnumber" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">Xóa</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
        <div class="form-group btn-group col-12">
            <div class="col-1"></div>
            <div class="col-5">
                <input type="submit" value="Thêm mới" class="btn btn-primary btn-block" />
            </div>
            <div class="col-5">
                <a class="btn btn-secondary btn-block" asp-action="index"
                    asp-route-pg="@TempData.Peek("CurrentPage")">danh sách đơn thuốc</a>
            </div>
        </div>
    </div>
</form>






@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

@section Sidebar
{
@Html.Raw(_AdminSidebarService.renderHtml())
}
<script>
    function AddItem(btn){
        var table;
        table=document.getElementById('codetable');
        var rows = document.getElementsByTagName('tr');
        var rowouterHtml=rows[rows.length - 1].outerHTML;

        var lastrowIdx=rows.length-2;
        var nextrowIdx=eval(lastrowIdx)+1;        

        rowouterHtml=rowouterHtml.replaceAll('_'+lastrowIdx+'_','_'+nextrowIdx+'_');
        rowouterHtml=rowouterHtml.replaceAll('['+lastrowIdx+']','['+nextrowIdx+']');
        rowouterHtml=rowouterHtml.replaceAll('-'+lastrowIdx,'-'+nextrowIdx);

        var newrow=table.insertRow();
        newrow.innerHTML=rowouterHtml;
        var x = document.getElementsByTagName("INPUT");
        for(var cnt;cnt<x.length;cnt++)
        {
            if(x[cnt].type=="text"&&x[cnt].id.indexOf('_'+nextrowIdx+"_")>0)
                x[cnt]='';
            else if(x[cnt].type=="number"&&x[cnt].id.indexOf('_'+nextrowIdx+"_")>0)
                x[cnt].value=0;
        }
        rebinvalidateor();
    }
    function DeleteItem(btn)
    {
        var table;
        table=document.getElementById('codetable');
        var rows = document.getElementsByTagName('tr');
        if(rows.length==2)
        {
            alert("Không xóa được");
            return;
        }
        $(btn).closest('tr').remove();
    }
   function rebinvalidateor()
    {
        var $form=$("#CodeSbyAnizForm");
        $form.unbind();
        $form.data("validator",null);
        $.validator.unobtrusive.parse($form);
        $form.validate($form.data("unobtrusiveValidation").options);
    }
</script>