@using ClinicManagement.Menu
@inject AdminSidebarService _AdminSidebarService
@model ClinicManagement.Models.Medicines

@{
    ViewData["Title"] = "Chi tiết thuốc";
}
@* 
<h1>Details</h1> *@

<div>
    @* <h4>Medicines</h4>
    <hr /> *@
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Units.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldUnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldUnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldSellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldSellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreate.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIDModify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserModify.UserName)
        </dd>
    </dl>
</div>
<div>
   <div class="btn-group">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Chỉnh sửa</a>
    <a class="btn btn-secondary" asp-action="index"
       asp-route-pg="@TempData["CurrentPage"]">Danh sách thuốc</a>    
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}

